<a href="https://colab.research.google.com/github/moaadouhmad99-ops/DI_Bootcamp/blob/main/Week3/Day2/EX_XP_W3_D2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1: Identifying Data Types
Below are various data sources. Identify whether each one is an example of structured or unstructured data.

A company's financial reports stored in an Excel file.  structured
Photographs uploaded to a social media platform.  unstructured
A collection of news articles on a website.  unstructured
Inventory data in a relational database.  structured
Recorded interviews from a market research study.  unstructured

# Exercise 2: Transformation Exercise
For each of the following unstructured data sources, propose a method to convert it into structured data. Explain your reasoning.

A series of blog posts about travel experiences. We can Reorganizing this data in these patterns : place visited, dates, feelings, food, transportation.
Audio recordings of customer service calls.We can Reorganizing this data in these patterns : types of issue, call duration, costmar satesfication, agent responsible, priority.
Handwritten notes from a brainstorming session.We can Reorganizing this data in these patterns : thems, priority, person who propsited it, type of idea.
A video tutorial on cooking.We can Reorganizing this data in these patterns: step, action, ingrediant, quatity, time, utensil.

#Exercise 3 : Import a file from Kaggle
Note: This dataset was originally sourced from Kaggle, but for easier access, it has been made available on GitHub.

Please download the dataset directly from the GitHub repository to use it in this project.

Import the train dataset. Use the train.csv file.

Print the first few rows of the DataFrame.

In [ ]:
import pandas as pd
df = pd.read_csv(r"train.csv")#Import the train dataset. Use the train.csv file.
print(df.head())#Print the first few rows of the DataFrame.

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

#Exercise 4: Importing a CSV File
Use the Iris Dataset CSV.

Download the Iris dataset CSV file and place it in the same directory as your Jupyter Notebook.

Import the CSV file using Pandas.

Display the first five rows of the dataset.

In [ ]:
dh = pd.read_csv(r"Iris_dataset.csv")#Import the CSV file using Pandas.
print(dh.head())#Display the first five rows of the dataset.

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

#Exercise 5 : Export a dataframe to excel format and JSON format.

Créer un simple DataFrame.

Exporter le DataFrame en fichier Excel.

Exporter le DataFrame en fichier JSON.

In [ ]:
# Créer un simple DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [24, 30, 29],
    "City": ["Rabat", "Casablanca", "Tanger"]
}

dy = pd.DataFrame(data)

# Exporter le DataFrame en fichier Excel
#pip install openpyxl
dy.to_excel("data.xlsx", index=False)

# Exporter le DataFrame en fichier JSON
dy.to_json("data.json", orient="records", indent=4)

print("Export terminé !")

Export terminé !

#Exercise 6: Reading JSON Data
Use a sample JSON dataset

Import the JSON data from the provided URL.

In [ ]:
df = pd.read_json("posts.json")
print(df.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...